@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.w-95 {
  width: 95%;
}
.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}

.w-90 {
  width: 90%;
}
.w-1680px {
  width: 1680px;
}
.first-section {
  background-color: #f5f5f5;
  margin-top: 120px;
  height: 1224px;
  width: 100%;
}
.first-section-options {
  padding: 80px 120px 120px 120px;
}

.header-section {
  text-align: center;
  padding: 40px 0 30px;
}

.header-section .brand-name {
  font-size: 20px;
  color: #242a33;
  font-weight: 400;
  margin-bottom: 0;
}

.header-section h1 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 8px;
  color: #242a33;
  margin-bottom: 60px;
}

#nav-tabs-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-tab-btn {
  padding: 12px 20px;
  border: 1px solid #242a33;
  background: transparent;
  color: #242a33;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.nav-tab-btn:hover {
  background-color: black;
  color: #fff;
}

.hero-section {
  margin-top: 100px;
}

.images-container {
  display: flex;
  gap: 0;
  position: relative;
  overflow: hidden;
}

.first-image-box img {
  width: 100%;
  height: 720px;
  width: 538.67px;
  object-fit: cover;
  /* displa
   */
  overflow-x: hidden;
}
.second-image-box img {
  width: 100%;
  height: 720px;
  width: 364px;
  object-fit: cover;
  /* display: block; */
  /* object-position: top; */
}

.left-image-overlay {
  position: absolute;
  bottom: 40px;
  left: 40px;

  color: #ffffff;
  z-index: 20;
}

.left-image-overlay .small-text {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.left-image-overlay h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 32px;

  margin-top: 9px;
}

.btn-shop {
  background-color: #ff3374;
  color: #fff;
  padding: 12px 20px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-shop:hover {
  background-color: #e0127d;
}

/* Right Section */
.right-content {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background-color: #fff;
  height: 720px;
  width: 100%;
  padding-right: 40px;
}

.text-content {
  height: 144px;
  width: 691px;
  text-align: end;
}

.text-content .text-content-bold {
  font-size: 32px;
  color: #242a33;
  font-weight: 600;
}

.text-content .italic-text {
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
}

.btn-discover {
  background-color: #ff3374;
  color: #fff;
  padding: 8px 24px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-discover:hover {
  background-color: #e0127d;
}
